In [193]:
import numpy as np
import pandas as pd

In [194]:
raw_results = np.load("epoch_results0.npy")
#            results = tf.concat([tf.expand_dims(timestamp, axis=1), clearsky, outputs,
#                                 outputs_onehot, tf.expand_dims(penalty, axis=1), output_ghi], axis=1).numpy()
timestamp= ["timestamp"]
location = ["latitude", "longitude", "altitude"]
clearsky = ["clearsky_t0", "clearsky_t1", "clearsky_t3","clearsky_t6"]
logits = ["logit_0", "logit_1", "logit_2","logit_3", "logit_4"]
one_hot = ["onehot_0", "onehot_1", "onehot_2", "onehot_3", "onehot_4"]
one_hot = ["out_night","out_cloudy","out_slightly_cloudy", "out_clear", "out_variable"]
penalty = ["penalty"]
output_ghi = ["out_ghi_t0", "out_ghi_t1", "out_ghi_t3", "out_ghi_t6"]
target_ghi = ["target_ghi_t0", "target_ghi_t1", "target_ghi_t3", "target_ghi_t6"]
target_cloudiness = ["night","cloudy","slightly_cloudy", "clear", "variable"]
colonnes = {}
for i, nom in enumerate(timestamp + location + clearsky + logits + one_hot+ target_cloudiness + penalty + target_ghi + output_ghi):
    colonnes[i]=nom

#colonnes = {0: "timestamp", 1: "clearsky_t0", 2: "clearsky_t1", 3: "clearsky_t3", 4: "clearsky_t4", 
#            5: "logit_0", 6:"logit_1", 7:"logit_2", 8:"logit_3", 9:"logit_4", 
#            10: "onehot_0", 11: "onehot_1", 12: "onehot_2", 13: "onehot3", 14: "onehot_4", 
#            15: "penalty", 16: "ghi_t0", 17: "ghi_t1", 18:"ghi_t2", 19:"ghi_t3"}

In [195]:
timestamp.append(clearsky)

In [196]:
données = pd.DataFrame(raw_results).rename(columns=colonnes)
données.head(2)

,timestamp,latitude,longitude,altitude,clearsky_t0,clearsky_t1,clearsky_t3,clearsky_t6,logit_0,logit_1,...,variable,penalty,target_ghi_t0,target_ghi_t1,target_ghi_t3,target_ghi_t6,out_ghi_t0,out_ghi_t1,out_ghi_t3,out_ghi_t6
0,1.342041e+09,40.051922,-88.373093,230.0,912.725342,925.715027,789.064880,282.594482,-0.002716,0.002596,...,1.0,0.5,737.280029,816.159973,887.126648,313.320007,456.362671,462.857513,394.532440,141.297241
1,1.402160e+09,40.051922,-88.373093,230.0,362.524506,549.271606,832.996765,893.414978,-0.002547,0.002307,...,1.0,0.5,316.613342,572.733337,862.386658,268.793335,181.262253,274.635803,416.498383,446.707489

In [197]:
données[penalty + target_ghi + output_ghi].head(10)

,penalty,target_ghi_t0,target_ghi_t1,target_ghi_t3,target_ghi_t6,out_ghi_t0,out_ghi_t1,out_ghi_t3,out_ghi_t6
0,0.5,737.280029,816.159973,887.126648,313.320007,456.362671,462.857513,394.532440,141.297241
1,0.5,316.613342,572.733337,862.386658,268.793335,181.262253,274.635803,416.498383,446.707489
2,0.5,496.433319,763.500000,733.580017,358.820007,283.632965,356.031891,424.073730,311.791016
3,0.5,566.346680,762.493347,300.339996,15.206667,335.962708,333.478363,240.362839,0.168266
4,0.5,846.153320,360.073334,284.493347,4.200000,439.581635,406.267975,262.621185,0.127720
5,0.5,409.579987,532.700012,432.579987,5.600000,225.706955,245.158813,196.727539,0.002253
6,0.5,869.893311,979.746643,1017.280029,488.380005,398.700409,442.118988,447.048645,262.328461
7,0.5,448.606659,551.333313,209.246674,108.253334,234.704605,274.920197,266.771729,59.696213
8,0.5,720.159973,815.619995,441.220001,12.693334,404.889191,378.730835,247.009827,0.051468
9,0.5,223.806671,567.266663,971.726685,748.500000,363.630188,422.108246,462.479462,324.361359

In [198]:
def rmse(données):
    rmse_t0 = np.sqrt(((données["out_ghi_t0"] - données["target_ghi_t0"])**2).sum()/len(données))
    rmse_t1 = np.sqrt(((données["out_ghi_t1"] - données["target_ghi_t1"])**2).sum()/len(données))
    rmse_t3 = np.sqrt(((données["out_ghi_t3"] - données["target_ghi_t3"])**2).sum()/len(données))
    rmse_t6 = np.sqrt(((données["out_ghi_t6"] - données["target_ghi_t6"])**2).sum()/len(données))
    print(rmse_t0, rmse_t1, rmse_t3, rmse_t6)
    print("mean=", np.mean([rmse_t0, rmse_t1, rmse_t3, rmse_t6]))

In [199]:
données

,timestamp,latitude,longitude,altitude,clearsky_t0,clearsky_t1,clearsky_t3,clearsky_t6,logit_0,logit_1,...,variable,penalty,target_ghi_t0,target_ghi_t1,target_ghi_t3,target_ghi_t6,out_ghi_t0,out_ghi_t1,out_ghi_t3,out_ghi_t6
0,1.342041e+09,40.051922,-88.373093,230.0,912.725342,925.715027,789.064880,282.594482,-0.002716,0.002596,...,1.0,0.5,737.280029,816.159973,887.126648,313.320007,456.362671,462.857513,394.532440,141.297241
1,1.402160e+09,40.051922,-88.373093,230.0,362.524506,549.271606,832.996765,893.414978,-0.002547,0.002307,...,1.0,0.5,316.613342,572.733337,862.386658,268.793335,181.262253,274.635803,416.498383,446.707489
2,1.282675e+09,40.051922,-88.373093,230.0,567.265930,712.063782,848.147461,623.582031,-0.002508,0.002349,...,1.0,0.5,496.433319,763.500000,733.580017,358.820007,283.632965,356.031891,424.073730,311.791016
3,1.381440e+09,40.051922,-88.373093,230.0,671.925415,666.956726,480.725677,0.336532,-0.002716,0.002511,...,1.0,0.5,566.346680,762.493347,300.339996,15.206667,335.962708,333.478363,240.362839,0.168266
4,1.271716e+09,40.051922,-88.373093,230.0,879.163269,812.535950,525.242371,0.255440,-0.002396,0.002370,...,1.0,0.5,846.153320,360.073334,284.493347,4.200000,439.581635,406.267975,262.621185,0.127720
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199728,1.400350e+09,43.734032,-96.623283,473.0,450.129456,624.701477,865.436096,846.670593,-6.805260,0.678454,...,1.0,1.0,272.546661,598.093323,888.313354,604.406677,450.129456,624.701477,865.436096,846.670593
199729,1.351889e+09,43.734032,-96.623283,473.0,453.590424,505.567505,439.065826,23.629917,-6.805260,0.678454,...,0.0,1.0,133.893326,170.160004,78.820000,16.433332,453.590424,505.567505,439.065826,23.629917
199730,1.276897e+09,43.734032,-96.623283,473.0,905.546448,929.775818,822.771179,359.381531,-6.805260,0.678454,...,0.0,1.0,955.813354,992.580017,917.179993,420.880005,905.546448,929.775818,822.771179,359.381531
199731,1.341524e+09,43.734032,-96.623283,473.0,891.971191,919.327698,817.831299,358.343292,-6.805260,0.678454,...,1.0,1.0,692.573303,445.933319,839.179993,394.500000,891.971191,919.327698,817.831299,358.343292
199732,1.402079e+09,43.734032,-96.623283,473.0,558.219177,714.801758,908.020935,818.332397,-6.805260,0.678454,...,0.0,1.0,573.726685,736.953308,954.646667,914.673340,558.219177,714.801758,908.020935,818.332397

In [200]:
def target_to_category(row):
    if row["night"]==1:
        return "night"
    if row["cloudy"]==1:
        return "cloudy"
    if row["slightly_cloudy"]==1:
        return "slightly_cloudy"
    if row["clear"]==1:
        return "clear"
    if row["variable"]==1:
        return "variable"
    
def output_to_category(row):
    if row["out_night"]==1:
        return "night"
    if row["out_cloudy"]==1:
        return "cloudy"
    if row["out_slightly_cloudy"]==1:
        return "slightly_cloudy"
    if row["out_clear"]==1:
        return "clear"
    if row["out_variable"]==1:
        return "variable"

In [201]:
données[target_cloudiness + one_hot].head(10)
df=données

df["target_category"] = df.apply(target_to_category,axis=1)
df["output_category"] = df.apply(output_to_category,axis=1)

In [202]:
#confusion_matrix = pd.crosstab([df['target_category']], df['cloudy'], df['slightly_cloudy'], df['clear'], df["variable"]])#, rownames=["night","cloudy","slightly_cloudy", "clear", "variable"], colnames=target_cloudiness)
confusion_matrix = pd.crosstab(df["target_category"], df['output_category'])#, rownames=["night","cloudy","slightly_cloudy", "clear", "variable"], colnames=target_cloudiness)

In [203]:
confusion_matrix

output_category  clear  cloudy  variable
target_category
clear            60178   16152       499
cloudy           38021   20733       503
slightly_cloudy  18744    7643       241
variable         24934   11792       293

In [204]:
clear = df[df["target_category"]=="clear"]
cloudy = df[df["target_category"]=="cloudy"]
slightly_cloudy = df[df["target_category"]=="slightly_cloudy"]
variable = df[df["target_category"]=="variable"]

In [205]:
rmse(clear)
rmse(cloudy)
rmse(slightly_cloudy)
rmse(variable)

154.35974060227457 180.120772081875 211.96933866399795 180.2300502114785
mean= 181.66997538990648
291.199638898097 305.6685821995478 324.18271836316325 269.4692770558082
mean= 297.63005412915413
155.96105405855474 197.28164351494678 235.93875919872457 214.24335348159815
mean= 200.85620256345607
188.42767436176314 239.23687168732434 265.0757053788719 215.06843849571794
mean= 226.9521724809193