In [274]:
import numpy as np
import pandas as pd

In [310]:
raw_results = np.load("epoch_results1_categorical_conv2d.npy")
#            results = tf.concat([tf.expand_dims(timestamp, axis=1), clearsky, outputs,
#                                 outputs_onehot, tf.expand_dims(penalty, axis=1), output_ghi], axis=1).numpy()
timestamp= ["timestamp"]
location = ["latitude", "longitude", "altitude"]
clearsky = ["clearsky_t0", "clearsky_t1", "clearsky_t3","clearsky_t6"]
logits = ["logit_0", "logit_1", "logit_2","logit_3", "logit_4"]
one_hot = ["onehot_0", "onehot_1", "onehot_2", "onehot_3", "onehot_4"]
one_hot = ["out_night","out_cloudy","out_slightly_cloudy", "out_clear", "out_variable"]
penalty = ["penalty"]
output_ghi = ["out_ghi_t0", "out_ghi_t1", "out_ghi_t3", "out_ghi_t6"]
target_ghi = ["target_ghi_t0", "target_ghi_t1", "target_ghi_t3", "target_ghi_t6"]
target_cloudiness = ["night","cloudy","slightly_cloudy", "clear", "variable"]
colonnes = {}
for i, nom in enumerate(timestamp + location + clearsky + logits + one_hot+ target_cloudiness + penalty + target_ghi + output_ghi):
    colonnes[i]=nom

#colonnes = {0: "timestamp", 1: "clearsky_t0", 2: "clearsky_t1", 3: "clearsky_t3", 4: "clearsky_t4", 
#            5: "logit_0", 6:"logit_1", 7:"logit_2", 8:"logit_3", 9:"logit_4", 
#            10: "onehot_0", 11: "onehot_1", 12: "onehot_2", 13: "onehot3", 14: "onehot_4", 
#            15: "penalty", 16: "ghi_t0", 17: "ghi_t1", 18:"ghi_t2", 19:"ghi_t3"}

In [311]:
timestamp.append(clearsky)

In [312]:
données = pd.DataFrame(raw_results).rename(columns=colonnes)
données.head(2)

,timestamp,latitude,longitude,altitude,clearsky_t0,clearsky_t1,clearsky_t3,clearsky_t6,logit_0,logit_1,...,variable,penalty,target_ghi_t0,target_ghi_t1,target_ghi_t3,target_ghi_t6,out_ghi_t0,out_ghi_t1,out_ghi_t3,out_ghi_t6
0,1.342041e+09,40.051922,-88.373093,230.0,912.725342,925.715027,789.064880,282.594482,-14.142378,0.298859,...,1.0,0.75,737.280029,816.159973,887.126648,313.320007,684.544006,694.286255,591.798645,211.945862
1,1.402160e+09,40.051922,-88.373093,230.0,362.524506,549.271606,832.996765,893.414978,-6.646791,-0.802935,...,1.0,0.99,316.613342,572.733337,862.386658,268.793335,358.899261,543.778870,824.666809,884.480835

In [313]:
données[penalty + target_ghi + output_ghi].head(10)

,penalty,target_ghi_t0,target_ghi_t1,target_ghi_t3,target_ghi_t6,out_ghi_t0,out_ghi_t1,out_ghi_t3,out_ghi_t6
0,0.75,737.280029,816.159973,887.126648,313.320007,684.544006,694.286255,591.798645,211.945862
1,0.99,316.613342,572.733337,862.386658,268.793335,358.899261,543.778870,824.666809,884.480835
2,0.99,496.433319,763.500000,733.580017,358.820007,561.593262,704.943176,839.666016,617.346191
3,0.45,566.346680,762.493347,300.339996,15.206667,302.366425,300.130524,216.326553,0.151439
4,0.85,846.153320,360.073334,284.493347,4.200000,747.288818,690.655579,446.456024,0.217124
5,0.99,409.579987,532.700012,432.579987,5.600000,446.899780,485.414459,389.520538,0.004462
6,0.99,869.893311,979.746643,1017.280029,488.380005,789.426819,875.395630,885.156311,519.410339
7,0.75,448.606659,551.333313,209.246674,108.253334,352.056915,412.380310,400.157593,89.544319
8,0.45,720.159973,815.619995,441.220001,12.693334,364.400269,340.857758,222.308838,0.046321
9,0.45,223.806671,567.266663,971.726685,748.500000,327.267151,379.897400,416.231506,291.925201

In [314]:
def rmse(données):
    rmse_t0 = np.sqrt(((données["out_ghi_t0"] - données["target_ghi_t0"])**2).sum()/len(données))
    rmse_t1 = np.sqrt(((données["out_ghi_t1"] - données["target_ghi_t1"])**2).sum()/len(données))
    rmse_t3 = np.sqrt(((données["out_ghi_t3"] - données["target_ghi_t3"])**2).sum()/len(données))
    rmse_t6 = np.sqrt(((données["out_ghi_t6"] - données["target_ghi_t6"])**2).sum()/len(données))
    print(rmse_t0, rmse_t1, rmse_t3, rmse_t6)
    print("mean=", np.mean([rmse_t0, rmse_t1, rmse_t3, rmse_t6]))

In [315]:
données

,timestamp,latitude,longitude,altitude,clearsky_t0,clearsky_t1,clearsky_t3,clearsky_t6,logit_0,logit_1,...,variable,penalty,target_ghi_t0,target_ghi_t1,target_ghi_t3,target_ghi_t6,out_ghi_t0,out_ghi_t1,out_ghi_t3,out_ghi_t6
0,1.342041e+09,40.051922,-88.373093,230.0,912.725342,925.715027,789.064880,282.594482,-14.142378,0.298859,...,1.0,0.75,737.280029,816.159973,887.126648,313.320007,684.544006,694.286255,591.798645,211.945862
1,1.402160e+09,40.051922,-88.373093,230.0,362.524506,549.271606,832.996765,893.414978,-6.646791,-0.802935,...,1.0,0.99,316.613342,572.733337,862.386658,268.793335,358.899261,543.778870,824.666809,884.480835
2,1.282675e+09,40.051922,-88.373093,230.0,567.265930,712.063782,848.147461,623.582031,-8.094012,-0.699478,...,1.0,0.99,496.433319,763.500000,733.580017,358.820007,561.593262,704.943176,839.666016,617.346191
3,1.381440e+09,40.051922,-88.373093,230.0,671.925415,666.956726,480.725677,0.336532,-5.445518,1.398175,...,1.0,0.45,566.346680,762.493347,300.339996,15.206667,302.366425,300.130524,216.326553,0.151439
4,1.271716e+09,40.051922,-88.373093,230.0,879.163269,812.535950,525.242371,0.255440,-11.086341,-0.574241,...,1.0,0.85,846.153320,360.073334,284.493347,4.200000,747.288818,690.655579,446.456024,0.217124
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199728,1.400350e+09,43.734032,-96.623283,473.0,450.129456,624.701477,865.436096,846.670593,-8.227605,0.619250,...,1.0,0.75,272.546661,598.093323,888.313354,604.406677,337.597107,468.526123,649.077087,635.002930
199729,1.351889e+09,43.734032,-96.623283,473.0,453.590424,505.567505,439.065826,23.629917,-6.469030,1.975691,...,0.0,0.45,133.893326,170.160004,78.820000,16.433332,204.115692,227.505371,197.579620,10.633463
199730,1.276897e+09,43.734032,-96.623283,473.0,905.546448,929.775818,822.771179,359.381531,-8.713420,-1.951404,...,0.0,0.99,955.813354,992.580017,917.179993,420.880005,896.490967,920.478088,814.543457,355.787720
199731,1.341524e+09,43.734032,-96.623283,473.0,891.971191,919.327698,817.831299,358.343292,-10.544623,-0.328528,...,1.0,0.75,692.573303,445.933319,839.179993,394.500000,668.978394,689.495789,613.373474,268.757477
199732,1.402079e+09,43.734032,-96.623283,473.0,558.219177,714.801758,908.020935,818.332397,-7.159729,-1.754938,...,0.0,0.99,573.726685,736.953308,954.646667,914.673340,552.636963,707.653748,898.940735,810.149109

In [316]:
def target_to_category(row):
    if row["night"]==1:
        return "night"
    if row["cloudy"]==1:
        return "cloudy"
    if row["slightly_cloudy"]==1:
        return "slightly_cloudy"
    if row["clear"]==1:
        return "clear"
    if row["variable"]==1:
        return "variable"
    
def output_to_category(row):
    if row["out_night"]==1:
        return "night"
    if row["out_cloudy"]==1:
        return "cloudy"
    if row["out_slightly_cloudy"]==1:
        return "slightly_cloudy"
    if row["out_clear"]==1:
        return "clear"
    if row["out_variable"]==1:
        return "variable"

In [317]:
données[target_cloudiness + one_hot].head(10)
df=données

df["target_category"] = df.apply(target_to_category,axis=1)
df["output_category"] = df.apply(output_to_category,axis=1)

In [318]:
#confusion_matrix = pd.crosstab([df['target_category']], df['cloudy'], df['slightly_cloudy'], df['clear'], df["variable"]])#, rownames=["night","cloudy","slightly_cloudy", "clear", "variable"], colnames=target_cloudiness)
confusion_matrix = pd.crosstab(df["target_category"], df['output_category'])#, rownames=["night","cloudy","slightly_cloudy", "clear", "variable"], colnames=target_cloudiness)

In [319]:
confusion_matrix

output_category  clear  cloudy  slightly_cloudy  variable
target_category
clear            67096    3784              520      5429
cloudy            3719   47424              411      7703
slightly_cloudy   9782    7999              653      8194
variable          8225   12842              668     15284

In [320]:
clear = df[df["target_category"]=="clear"]
cloudy = df[df["target_category"]=="cloudy"]
slightly_cloudy = df[df["target_category"]=="slightly_cloudy"]
variable = df[df["target_category"]=="variable"]
night = df[df["target_category"]=="night"]

In [321]:
rmse(clear)
rmse(cloudy)
rmse(slightly_cloudy)
rmse(variable)
#rmse(night)

90.40725632520554 111.9837921493471 157.3990948353651 150.83779500314543
mean= 127.65698457826579
123.5731225664431 160.47926599969963 231.5536696146498 251.14625936525908
mean= 191.6880793865129
137.65496682045654 169.44745095758222 224.43439499462215 213.68102956152185
mean= 186.3044605835457
143.58199202186483 192.27790831161553 239.57193156119288 219.55409331631097
mean= 198.74648130274605

In [322]:
(cloudy["target_ghi_t0"].clip(0,1125)/cloudy["clearsky_t0"].clip(1,1125)).describe()

count    59257.000000
mean         0.457176
std          0.634390
min          0.000000
25%          0.152110
50%          0.306320
75%          0.479150
max         19.280001
dtype: float64

In [323]:
(clear["target_ghi_t0"].clip(0,1125)/clear["clearsky_t0"].clip(1,1125)).describe()

count    76829.000000
mean         0.992549
std          0.070713
min          0.183330
25%          0.960892
50%          1.001464
75%          1.036957
max          1.258119
dtype: float64

In [324]:
(slightly_cloudy["target_ghi_t0"].clip(0,1125)/slightly_cloudy["clearsky_t0"].clip(1,1125)).describe()

count    26628.000000
mean         0.849761
std          0.199822
min          0.003915
25%          0.686224
50%          0.884107
75%          1.012658
max          1.386705
dtype: float64

In [325]:
(variable["target_ghi_t0"].clip(0,1125)/variable["clearsky_t0"].clip(1,1125)).describe()

count    37019.000000
mean         0.751906
std          0.256288
min          0.000000
25%          0.600334
50%          0.776798
75%          0.931183
max          3.286745
dtype: float64